@model kl980715_MIS4200.Models.Book

@{
    ViewBag.Title = "Details";
}

    <h2>View Book Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher.companyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher.companyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.bookId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
